GROQ_API_KEY=your_groq_key_here
GOOGLE_APPLICATION_CREDENTIALS=path/to/service_account.json
GCP_PROJECT_ID=safaricom-intelligence
GCS_BUCKET_NAME=safaricom-rag
BIGQUERY_DATASET=safaricom_rag
BIGQUERY_MART_DATASET=dbt_rgiggs_mart
